.container{
    border: 5px solid rgb(160, 96, 219);
    background-color: rgb(137, 179, 226);
}
.row{
    height: 100px;
    margin: 10px;
}
.col{
    border: 2px dashed yellow;
    height: 100%;
    margin: 0px;
}
.impar{
    background-color: paleturquoise;
}
.par{
    background-color: peachpuff;
}